@import url('https://fonts.googleapis.com/css2?family=Bona+Nova+SC:ital,wght@0,400;0,700;1,400&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

* {
    margin: 0;
    padding: 0;
}

:root {
        --azul-escuro: #03045eff;
        --azul-escurinho: #023e8aff;
        --azul-azul: #0077b6ff;
        --azul-zinho: #0096c7ff;
        --azul-claro: #00b4d8ff;
        --azul-claro-claro: #48cae4ff;
        --azul-clarinho: rgb(81, 88, 125);
        --azul-clarissimo: #ade8f4ff;
        --preto: rgb(0, 0, 0);
        --fonte-titulo: "Bona Nova SC", serif;
        --fonte-texto: "Playfair Display", serif;
}

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    overflow-x: hidden; 
}

body {
    background-color: var(--azul-claro-claro);
    font-family: var(--fonte-texto);
}

a {
    text-decoration: none;
    color: var(--cor-texto);
    font-size: 28px;
}

li {
    list-style: none;
}

.cabecalho, footer {
    background-color: var(--azul-clarissimo);
    display: flex;
    justify-content: space-between;
    padding: 2em;
    border-radius: 0 0 10px 10px;
    align-items: center;
}

.botao {
    background-color: transparent;
    border: none;
    color: var(--cor-texto);
    font-family: var(--fonte-texto);
    font-size: 25px;
    margin-right: 50px;
    text-transform: uppercase;
    font-weight: bold;
    transition: ease-out 0.3s all;
    cursor: pointer;
}

.botao:hover {
    font-size: 30px;
}

#menu {
    display: none;
}

nav {
    background-color: var(--azul-claro);
    position: absolute;
    top: 120px;
    right: 220px;
    width: 30%;
    border-radius: 5px;
    z-index: 1;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

li {
    border: solid var(--azul-clarinho);
    margin: 20px;
    border-radius: 10px;
}

.botao-menu {
    display: flex;
    padding: 10px;
    color: white;
    text-decoration: none;
}

.botao-menu:hover {
    background-color: var(--azul-zinho);
    border-radius: 10px;
}

.logo {
    width: 140px;
    margin-left: 100px;
    border-radius: 10px;
}

.inicio, .integrantes {
    text-align: center;
    background-color: var(--azul-zinho);
    padding: 50px;
}

.integrantes {
    padding: 60px 0;
}

.container {
    text-align: center;
    margin: 70px;
    margin-top: 130px;
}

.titulo-principal {
    font-family: var(--fonte-texto);
    font-size: 40px;
}

.descricao {
    font-size: 25px;
    margin: 15px 0;
}

.link-inicio {
    background-color: var(--preto);
    margin-top: 20px;
    padding: 20px 100px;
    border-radius: 15px;
    border-style: double;
    color: white;
    transition: 5s all;
}

.link-inicio:hover {
    font-size: 34px;
    background-color: var(--azul-escurinho);
    transition: 4s all;
}

.container-slide {
    width: 100vw;
    white-space: nowrap;
    overflow: hidden;
    margin: 3em 0;
}

.paginas-slide {
    display: inline-block;
    animation: anima 20s linear infinite;
}

.paginas-slide img {
    width: 28%;
    border-radius: 15px;
}

.img-rotativo {
    width: 500px;
    height: 285px;
}

@keyframes anima {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-50%);
    }
}

.titulo-secundario {
    font-size: 33px;
    font-family: var(--fonte-titulo);
    margin: 20px 10px;
}

.aviso {
    color: rgb(77, 76, 76);
    font-size: 13px;
}

.materias {
    margin: 20px 0 20px 50px;
    padding: 50px 10px;
}

.itens {
    display: grid;
    grid-template-columns: 1.5fr 1.5fr 1.5fr;
    text-align: center;
    margin-bottom: 40px;
}

.itens p {
    font-size: 25px;
}

.titulo-terciario {
    font-size: 40px;
    margin-bottom: 20px;
    font-family: var(--fonte-texto);
}
footer {
    border-radius: 10px 10px 0 0;
    text-align: center;
    justify-content: center;
}
